body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.section {
  padding: 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.btn-container button {
  background-color: rgb(190, 190, 34);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

/* Menu Item Styles */
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
}

.menu-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.menu-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item-info {
  padding: 1rem 1.5rem;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.price {
  color: rgb(8, 0, 0);
  background-color: rgb(235, 235, 79);
  padding: 5px;
  border-radius: 5px;
}

.item-text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
